# LLVM style with some customizations for readability
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
UseTab: Never
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Attach
IncludeBlocks: Regroup
SortIncludes: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: false
BinPackArguments: false
AlwaysBreakAfterReturnType: None
